@charset "UTF-8";

html{
    background-color: rgb(00, 00, 00);
    padding: 10px 15px;
}

h1{
    font-size: 40px;
    color: white;
    text-shadow: 1px 2px 2px rgba(80, 80, 58, 0.6);
    text-align: center;
}

body{
    text-align: center;
}

/* BUTÕES */

.btn-1, .btn-2{
    border-radius: 65px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 15px;
    margin: 25px;
    font-weight: bold;
}


.btn-1:hover, .btn-2:hover{
   background-color: aquamarine;
   color: white;
   font-weight: bold;
}

/* JOGO */

#containner{
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.box{
    height: 100px;
    border: 5px solid white;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block1, #block2, #block3{
    border-top: none;
}

#block1, #block4, #block7{
    border-left: none;
}

#block7, #block8, #block9{
    border-bottom: none;
}

#block3, #block6, #block9{
    border-right: none;
}


/* SIMBOLOS */

.x{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    display: inline-block;
    line-height: 100px;
}

.o{
    border: 5px solid greenyellow;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 17px;
    display: inline-block;
}


/* PLACAR */

#scoreboard-containner{
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

div h1{
    font-size: 32px;
}

.score-box{
    margin: 0 20px;
}

#x-scoreboard{
    margin-right: 3px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}


#o-scoreboard{
    border: 2px solid greenyellow;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 3px;
    display: inline-block;
}

/* MENSAGEM */  

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    padding: 20px;
    background-color: white;
    font-size: 50px;
    color: rgb(00, 00, 00);
    /* display: none; */
}


/* CLASSE HIDE  */



.hide{
    display: none !important;
}